*{
    box-sizing: border-box;
    margin: 0 auto;
}
/*section reviews*/
.reviews{
    width: 100%;

    background-color: #ffffff;
    font-family: "Raleway", sans-serif;


}
.header-reviews{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-reviews__title{
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    padding-top: 73px;
}
.header-reviews__line{
    width: 9%;
    height: 2px;
    background: #FF8B38;
    margin-top: 22px;
}
.header-reviews__text{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    padding-top: 22px;
}
.main-reviews{
    width: 80%;
    max-width: 1400px;
    display: flex;
    padding-top: 85px;
    padding-bottom: 102px;
}
.customer__box{
    width: 30%;
    max-width: 290px;
}
.customer__review{
    position: relative;
    background: #F5F5F5;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    color: #86878B;
    padding-top: 25px;
    padding-bottom: 18px;
    padding-left: 12px;

}
/*.customer__review:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 30%;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border: 34px solid transparent;*/
/*    border-top-color: #F5F5F5;*/
/*    border-bottom: 0;*/
/*    border-right: 0;*/
/*    margin-left: -17px;*/
/*    margin-bottom: -34px;*/
    /*border-left: 20px solid transparent;*/
    /*border-right: 20px solid transparent;*/
    /*border-top: 40px solid red;*/
/*}*/

.customer__tooltip{
    padding-top: 0;
    margin-left: 30px;
}
.customer__card{
    display: flex;
    padding-top: 25px;

}
.customer__img{
    /*float: left;*/
    margin: 0;

}
.customer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}
.customer__name{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    margin: 0;
    padding-left: 10px;

}
.customer__job{
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    margin: 0;
    padding-left: 10px;
}
/*section tab*/
.tab{
    width: 100%;
    height: 600px;

    font-family: "Raleway", sans-serif;
    background: #F5F5F5;
    display: flex;
    align-items: center;

}
.main-tab{
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}
.tab__box{
    width: 112px;
    height: 112px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab__box_orange{
    background: #FF9B51;
    border-radius: 4px 4px 0px 0px;
}
.tab__box_black_r-0{
    background: #333333;
    margin-top: 2px;
}
.tab__box_black{
    background: #333333;
    border-radius: 0px 0px 4px 4px;
    margin-top: 2px;
}
.tab__description{
    width: 37%;
}
.tab__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.tab__text{
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
    padding-top: 42px;

}
.tab__btn{
    width: 134px;
    height: 42px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    background: #FA8F21;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-top: 42px;
    cursor: pointer;
}